$color-1 :#24252A;
$color-2: #CECECE;
#cart {
	position: absolute;
	right: 0;
	top: 0;
	text-align: left;
	background-color: #24252A;
	th,td {
		padding: 0 10px;
	}
	th {
		line-height: 2.5;
	}
	th:last-child,td:last-child {
		text-align: right;
	}
	.cart-item {
		margin-bottom: .5em;
		&:last-of-type{
			margin-bottom: 1em;
		}

		td {
			padding-bottom: 1em;
			&:first-of-type {
		    	padding-right: 3em;
		    }
		}

		span{
			//padding-left: 10px;
			//float:left;
		}
		button {
			//float:right;
		}
	}
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    //border: 1px solid transparent;
    //border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    &-default {
    	border-color: #ddd;
    	& >.panel-heading {
		    color: #333;
		    background-color: #f5f5f5;
		    //border-color: #ddd;
		}
	}
    &-heading {
	    padding: 10px 15px;
	    
	    //border-bottom: 1px solid transparent;
	    //border-top-left-radius: 3px;
	    //border-top-right-radius: 3px;

	}
	&-body {
    	padding: 15px;
	}
}