.products {
	width: 100%;
	margin: 0 auto;
}

.products {
	-moz-column-count: 6;
	-moz-column-gap: 0px;
	-webkit-column-count: 6;
	-webkit-column-gap: 0px;
	column-count: 6;
	column-gap: 0px;
	width: 100%;
}

.products .product{
	display: inline-block;
	margin-bottom: 0px;
	width: 100%;
}

@media only screen and (max-width : 1250px){
 .products {
 -moz-column-count: 5;
 -moz-column-gap: 0px;
 -webkit-column-count: 5;
 -webkit-column-gap: 0px;
 column-count: 5;
 column-gap: 0px;
 width: 1000px;
}
}