.products {
	width: 100%;
	margin: 0 auto;
}

.products {
	-moz-column-count: 4;
	-moz-column-gap: 15px;
	-webkit-column-count: 4;
	-webkit-column-gap: 15px;
	column-count: 4;
	column-gap: 15px;
	width: 100%;
}

.products .product{
	display: inline-block;
	margin-bottom: 0px;
	width: 100%;
	//margin:0 1em;
}

/*
@media only screen and (max-width : 1250px){
 .products {
 -moz-column-count: 5;
 -moz-column-gap: 15px;
 -webkit-column-count: 5;
 -webkit-column-gap: 15px;
 column-count: 5;
 column-gap: 15px;
 width: 1000px;
}
}
*/